.notes-container {
    width: 90%;
}

.notes-add-note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}


.notes-body-container {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 15px;
    justify-content: center;
    padding: 10px;

}


