.notes-container {
    width: 80%;
}

.notes-add-note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 200px 20px 0;
}


.notes-body-container {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 10px;
    justify-content: center;
    padding: 5px;

}


